/* External Font Embedding */

@font-face {
  font-family: "robotobold";
  src: url("fonts/roboto-bold-webfont.woff2") format("woff2"),
    url("fonts/roboto-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotolight";
  src: url("fonts/roboto-light-webfont.woff2") format("woff2"),
    url("fonts/roboto-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotothin";
  src: url("fonts/roboto-thin-webfont.woff2") format("woff2"),
    url("fonts/roboto-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotoregular";
  src: url("fonts/roboto-regular-webfont.woff2") format("woff2"),
    url("fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Styling html elements */
html {
  font-family: "robotoregular", "robotolight", "robotothin", sans-serif;
  word-break: break-all;
  box-sizing: border-box;
}

/* Global Classes */
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}
.flex-all {
  display: flex;
}
.flex-end {
  align-items: flex-end;
}
.flex-center {
  align-items: center;
}
.flex-column {
  flex-direction: column;
}
.space-between {
  justify-content: space-between;
}
.space-even {
  justify-content: space-evenly;
}
.blue-bg{
    background-color: #d0e4f4;
}

/* Nav Section starts*/
.logo-container img{
    width: 65px;
    object-fit: cover;
}
.menu-bar{
    font-size: 1.8rem;
}
/* Nav Section ends*/

/* Hero page section starts*/
.hero-section{
    gap: 110px;
}
/* Hero left Starts */
.hero-left{
    width: 400px;
    padding-top: 180px;
    position: relative;
}
.img-source a{
    color: #000;
}
.img-source{
    position: absolute;
    transform: translate(-102%,600%);
    display: inline-block;
}
.hero-left h1{
    font-size: 4rem;
    line-height: 4rem;
}
.hero-left p {
    font-size: 1.2rem;
    margin-block: 40px;
    
}
.btn{
    text-decoration: none;
    font-family: "robotoregular", sans-serif;
    color: #000;
    border: 1px black solid;
    padding: 20px 40px;
    display: inline-block;
    border-radius: 1px;
}
.btn:hover{
    background-color: #000;
    color: white;
}
/* Hero left ends */

/* Hero Right Starts */
.hero-right{
  padding-top: 100px;
}
.hero-right .space{
    height: 120px;
}
.hero-right .square{
    height: 400px;
    width: 400px;
    position: relative;
}
.right-img{
    position: relative;
    
}
.right-img img{
    z-index: 50;
    height: 588px;
    width: 500px;
    margin-right: 80px;
    position: relative;
}
.right-img .square{
    position: absolute;
    top: -50px;
    right: 0;
    
}
.dotted{
    background: url("../images/dots.png");
}
.right-img .dotted{
    height: 400px;
    width: 450px;
    position: absolute;
    left: -100px;
    bottom: -100px;
    z-index: 1;

}
.rectangle{
    height: 300px;
    width: 64.533%;
    position: absolute;
    right: 0;
    transform: translate(0,-40%);
    overflow: hidden;
}
/* Hero Right ends */

/* Hero page section ends*/

/* Section 2  Services starts */
.services{
  position: relative;
  
}
.image-wrap{
  position: absolute;
  top: 0;
  height: 470px;
  width: 635px;
  transform: translate(0,180px);
}
.image-wrap img{
  width: 100%;
}
.service-card{
  position: absolute;
  right: -568px;
  top: 120px;
}
.service-card-gap{
  gap: 25px;
}
.service-card-item{
  background: white;
  padding: 50px;
}
.service-card-item p{
  width: 200px;
}

/* Section 2  Services ends */