/* External Font Embedding */

@font-face {
  font-family: "robotobold";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/roboto-bold-webfont.woff2") format("woff2"),
    url("fonts/roboto-bold-webfont.woff") format("woff");
}

@font-face {
  font-family: "robotolight";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/roboto-light-webfont.woff2") format("woff2"),
    url("fonts/roboto-light-webfont.woff") format("woff");
}
@font-face {
  font-family: "robotothin";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/roboto-thin-webfont.woff2") format("woff2"),
    url("fonts/roboto-thin-webfont.woff") format("woff");
}

@font-face {
  font-family: "robotoregular";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/roboto-regular-webfont.woff2") format("woff2"),
    url("fonts/roboto-regular-webfont.woff") format("woff");
}

/* Styling html elements */

html {
  box-sizing: border-box;
  font-family: "robotoregular", "robotolight", "robotothin", sans-serif;
  overflow-x: hidden;
  word-break: break-all;
}

/* Global Classes */
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding-inline: 20px;
}
.flex-all {
  display: flex;
}
.flex-end {
  align-items: flex-end;
}
.flex-center {
  align-items: center;
}
.flex-column {
  flex-direction: column;
}
.space-between {
  justify-content: space-between;
}
.space-even {
  justify-content: space-evenly;
}
.blue-bg {
  background-color: #d0e4f4;
}

/* Nav Section starts*/
.navbar{
  padding: 20px;
}
.logo-container img {
  object-fit: cover;
  width: 65px;
}
.menu-bar {
  font-size: 1.8rem;
}
/* Nav Section ends*/

/* Hero page section starts*/
.hero-section {
  gap: 110px;
  position: relative;
}
/* Hero left Starts */
.hero-left {
  padding-top: 180px;
  position: relative;
  width: 400px;
}
.img-source a {
  color: #000;
}
.img-source {
  display: inline-block;
  position: absolute;
  font-size: 1.2rem;
}
#img-source1 {
  left: 0;
  bottom: -100px;
}
.hero-left h1 {
  font-size: 4rem;
  line-height: 4rem;
}
.hero-left p {
  margin-block: 40px;
}
.btn {
  border-radius: 1px;
  border: 1px black solid;
  color: #000;
  display: inline-block;
  font-family: "robotoregular", sans-serif;
  padding: 20px 40px;
  text-decoration: none;
}
.btn:hover {
  background-color: #000;
  color: white;
}
/* Hero left ends */

/* Hero Right Starts */
.hero-right {
  padding-top: 100px;
}
.hero-right .space {
  height: 120px;
}
.hero-right .square {
  height: 400px;
  position: relative;
  width: 400px;
}
.right-img {
  position: relative;
}
.right-img img {
  height: 588px;
  margin-right: 80px;
  position: relative;
  width: 500px;
  z-index: 50;
}
.right-img .square {
  position: absolute;
  right: 0;
  top: -50px;
}
.dotted {
  background: url("../images/dots.png");
}
.right-img .dotted {
  bottom: -100px;
  height: 400px;
  left: -100px;
  position: absolute;
  width: 450px;
  z-index: 1;
}
.rectangle {
  bottom: -180px;
  height: 300px;
  left: 350px;
  position: absolute;
  width: 4000px;
}
/* Hero Right ends */

/* Hero page section ends*/

/* Section 2  Services starts */
.services {
  position: relative;
}
.image-wrap {
  /* height: 470px; */
  position: relative;
  top: 0;
  transform: translate(0, 180px);
  /* width: 635px; */
}
.image-wrap img {
  width: 700px;
}
.service-card {
  position: absolute;
  right: 0px;
  top: 120px;
}
.service-card-gap {
  gap: 25px;
}
.service-card-item {
  background: white;
  padding: 40px;
}
.service-card-item p {
  width: 200px;
}
.rectangle2 {
  top: 0;
  position: absolute;
  height: 1000px;
  width: 4000px;
  left: 350px;
  z-index: -2;
}
.services .dotted {
  position: absolute;
  right: 780px; 
  bottom: -275px;
  width: 4000px;
  height: 200px;
  z-index: -1;
}
#img-source2 {
  left: 0;
  bottom: -200px;
}
/* Section 2  Services ends */

/* Section 3  begins */